@model CommerceTraining.Models.ViewModels.ShirtVariationViewModel

<div>
    <img src="@Model.image" />
</div>
<div>
    <strong>@Model.name</strong>
</div>
<div>
    <strong>Price: @Model.priceString</strong>

</div>
<div>
    <strong>Can be monogrammed</strong> @Html.CheckBoxFor(m => m.CanBeMonogrammed)
</div>
<div>
    @using (Html.BeginForm("AddToCart", "ShirtVariation"))
    {
        <div>
            Quantity: <input type="text" name="Quantity" value="1" />
        </div>
        <div>
            Monogram: <input type="text" name="Monogram" />
        </div>
        <div>
            <input type="submit" value="Add to cart" />
        </div>
    }
</div>

<div>
    @using (Html.BeginForm("AddToWishList", "ShirtVariation"))
    {
        <div>
            <input type="submit" value="Add to wishlist" />
        </div>
    }
</div>