@model CommerceTraining.Models.ViewModels.ShirtVariationViewModel

<div>
    <img src="@Model.image" />
</div>
<div>
    <strong>@Model.name</strong>
</div>
<div>
    <strong>Price: @Model.priceString</strong>
    
</div>
<div>
    <strong>Can be monogrammed</strong> @Html.CheckBoxFor(m => m.CanBeMonogrammed)
</div>